
*{
    background-color: white;
}
img{
    width: 70%;
    border-radius: 30%;
}

.targeta{
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 10px;
    margin-top: 5%;
    color: rgb(0, 0, 0);
    padding: 2%;
}

.izquierda{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.derecha{
    width: 50%;
    padding-left: 5%;
}
h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-content: center;
    margin-bottom: 10%;
}
p{
    font-size: 18px;
}
.izq{
    float: left;
    margin-left: 1%;
    width: 50%;
}
.der{
    margin-left: 20%;
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(75, 132, 206);
    font-size: 20px;
    padding-left: 5%;
}
body{
    background-color: rgba(12, 11, 11, 0.985);
}
button{
    background-color: rgb(7, 7, 7);
    border: 1px solid rgb(5, 5, 5);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.input{
    padding: 5px;
}
.card-title{
    font-size: 30px;
    font-weight: bold;
}